@import "tailwindcss";
@tailwind utilities;


html, body {
  margin: 0;
  padding: 0;
  font-family: "Space Grotesk", san-serif;
  background: radial-gradient(circle, #22346d, #081c38);
  color: #f3f4f6;
  transition: opacity 0.5s ease;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

/* Create the marquee effect */
@keyframes marquee {
  0% {
      transform: translateX(100%); /* Start off the right edge */
  }
  100% {
      transform: translateX(-100%); /* End off the left edge */
  }
}

/* Apply animation to the text */
.animate-marquee {
  display: inline-block;
  white-space: nowrap; /* Prevent text wrapping */
  animation: marquee 30s linear infinite; /* Standard animation speed */
  padding-right: 100%; /* Smooth looping */
}

/* Ensure the container doesn't overflow */
.marquee-container {
  position: relative; /* Position context for the animation */
  overflow: hidden; /* Hide text outside container */
  width: 100%; /* Make container responsive */
  max-width: 100%; /* Limit container width to 100% of parent */
  padding-right: 100%; /* Optional padding for smooth looping effect */
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  /* Slow down animation speed on smaller screens */
  .animate-marquee {
      animation: marquee 45s linear infinite; /* Slower animation */
  }
}


@layer utilities {
  @keyframes blink {  

    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    
  }

  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
}

@layer utilities {
  @keyframes loading {  

    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
    
  }

  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }
}